/* style.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #007BFF;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    transition: background-color 0.3s, transform 0.3s;
}

ul li:hover {
    background: #c0c0c0;
    transform: translateY(-5px);
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

a:hover {
    background: #0056b3;
    transform: scale(1.1);
}

/* Responsivo */
@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    ul li {
        font-size: 1em;
    }

    a {
        font-size: 1em;
    }
}
